@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

/* ---------
  UNIVERSAL
--------- */
/* Nav bar */
.navbar ul {
    background: #f8f8f8;
    font-size: 0.9rem;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: min(5vw, 30px) 0;
    margin: 0 auto;
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar a:link, .navbar a:visited {
    color: black;
    text-decoration: none;
}

/* Footer */
.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.notfooter {
    flex: 1;
}

footer {
    font-size: 0.6rem;
    text-align: center;
    width: 100vw;
    color: #a9a9a9;
}

footer p {
    margin: 0.5rem;
}

/* Page layout and styling*/
body {
    background-color: white;
    margin: 0;
}

main {
    background-color: white;
    font-size: 1rem;
    padding: 0 0.8rem;
    margin: 0 auto 0 auto;
}

.spacer {
    height: 2rem;
}

.spacer-small {
    height: 0.3rem;
}

html a:link, html a:visited {
    color: #444f7f;
}

.font-light {
    font-weight: 300;
}

/* Page title headers */
.contentpage-header {
    padding: 6rem 0 2rem 0;
    margin: 0 auto 1.5rem auto;
    background: #f8f8f8;
}

.contentpage-header span {
    font-size: 1.7rem;
    font-weight: 600;
}

.contentpage-header p {
    font-size: 1rem;
    padding: 0 0 2rem 0.8rem;
}

#title-block-content {
    color: #444f7f;
    font-weight: 900;
    margin: 0 0.2rem 0 0.8rem;
}

/* Buttons */
.button, .button:link {
    color: white;
    text-decoration: none;
    background-color: #1d1d1d;
    border: 2px solid #1d1d1d;
    font-size: 0.75rem;
    padding: 0.3rem 2.2%;
    border-radius: 0.5rem;
    transition: 0.2s;
}

.button i {
    margin-right: 0.2rem;
}

.button:visited {
    color: white;
    text-decoration: none;
}

.button:hover {
    color: #444f7f;
    background-color: white;
    border: 2px solid #444f7f;
}

/* -----------
  ABOUT  PAGE
-----------  */
.content-section > span {
    font-weight: 600;
    font-size: 1.3rem;
}

#title-block-about {
    color: #444f7f;
    font-weight: 900;
    margin-right: 0.2rem;
    margin-bottom: 0.5rem;
}

/* Profile summary section */
.summary-section {
    display: flex;
    flex-wrap: wrap;
    background: #f8f8f8;
    padding: 4rem 0 1.5rem 0;
    margin-left: auto;
    margin-right: auto;
}
#profilepic {
    margin: 1.5rem 0 0 0;
} 
#profilepic-image {
    display: block;
    width: 60%;
    margin: 0 auto 0 auto;
    border-radius: 50%;
}
#description {
    margin: 0.8rem;
}

#description h1 {
    text-align: center;
    font-size: 2.3rem;
    font-weight: 600;
    margin: 1rem 0 0 0;
}

#description h3 {
    text-align: center;
    font-weight: 500;
    margin: 0;
}

#description p {
    text-align: center;
    margin: 1rem 0;
}

/* Socials buttons */
.socials-container
{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 auto 0 auto;
    max-width: 20rem;
}

.content-section p {
    font-size: 0.9rem;
    margin: 0.3rem 0 0 0;
}

/* Experience section */
.skills-container {
    display: flex;
    flex-wrap: wrap;
    margin: 0.8rem 0;
}

.skills-container div {
    background: white;
    border: 2px solid #2f3655;
    color: #2f3655;
    font-size: 0.7rem;
    font-weight: 500;
    padding: 0.3rem 0.8rem;
    margin: 0.2rem;
}

.skills-container i {
    margin-right: 0.2rem;
}

/* Portfolio section */
.portfolio-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1rem;
}

.project {
    width: 100%;
    padding: 1rem;
    background: #f8f8f8;
    margin-bottom: 0.5rem;
}

.project p, .project a {
    font-size: 0.85rem;
    margin-bottom: 0.3rem;
}

.project img{
    width: 100%;
}

/* Blog section */
.blog-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1rem;
}

.blogpost {
    display: flex;
    padding: 1rem;
    background: #f8f8f8;
    margin-bottom: 0.5rem;
}

.blogpost a {
    font-size: 0.85rem;
}

.blogpost .text {
    flex: 4;
    margin-right: 0.3rem;
}

.blogpost .image {
    flex: 3;
}

h5 {
    font-weight: 600;
    margin: 0;
}

.blog-container p {
    font-size: 0.85rem;
}

.date {
    color: #a2a2a2;
    font-weight: 300;
}

.blog-container img {
    width: 100%;
}

/* ----------------------
  PROJECTS/BLOG POSTS
------------------------- */
.post-title {
    font-weight: 500;
    margin-bottom: 0.6rem;
}

.post-content h3 {
    font-weight: 500;
    margin-top: 0.8rem;
    margin-bottom: 0;
}

.post-content p {
    margin-bottom: 0.5rem;
}

.post-image {
    margin: 0.5rem 0;
    width: 100%;
}

/* ------------
  CONTACT PAGE
------------ */
/* Socials section */
.socials-section {
    text-align: left;
}

.socials-section p {
    margin: 0 0 1rem 0;
}

.left-align {
    justify-content: flex-start;
    text-align: left;
    margin: 0 0 2rem 0;
}

.socials-container a {
    margin-right: 0.1rem;
}

/* Contact form section */
.contactform-container {
    background: #eeeff6;
    max-width: 50rem;
}

.contactform-container, .contactform-container input, .contactform-container textarea {
    font-size: 0.9rem;
    font-family: "Poppins", sans-serif;
}

.contactform-container ul { 
    list-style-type: none;
    padding: 1rem;
    margin: 0 auto 0 auto;
}

.contactform-container li {
    margin-bottom: 1rem;
}

.contactform-container input, .contactform-container textarea {
    width: 100%;
    
}

/* ------------------
  MEDIA QUERY BREAKS
------------------ */
@media only screen and (min-width: 400px) and (max-width: 550px) {
    html {
        font-size: 1.15rem;
    }
}

@media only screen and (min-width: 551px) and (max-width: 700px) {
    html {
        font-size: 1.3rem;
    }
    
}

@media only screen and (min-width: 701px) and (max-width: 950px) {
    html {
        font-size: 1.3rem;
    }
}

@media only screen and (min-width: 951px) {
    html {
        font-size: 1.3rem;
    }
    .navbar, .navbar ul, main, .contentpage-header, .summary-section {
        max-width: 60rem;
        margin: 0 auto;
    }
    #profilepic {
        margin: 2rem;
        flex: 1;
        max-width: 15rem;
    } 
    #profilepic-image {
        display: block;
        width: 100%;
        margin: 0 auto 0 auto;
        border-radius: 50%; 
    }
    #description {
        flex: 2;
        padding: 0;
    }
    #description h1 {
        text-align: left;
        margin-top: 3rem;
    }
    #description h3 {
        text-align: left;
        padding: 0;
    }
    #description p {
        text-align: left;
        padding: 0;
    }
    .socials-container {
        justify-content: flex-start;
        max-width: 100%;
    }
    .socials-container span, .socials-container a, .socials-container i {
        margin: 0 0.4rem 0 0;
        font-size: 0.8rem;
    }
    .blog-container { 
        justify-content: space-between;
    }
    .blogpost{
        width: 45%;
        margin: 0 0 0.5rem 0;
    }
    .portfolio-container {
        justify-content: space-between;
    }
    .project {
        width: 45%;
        margin: 0 0 0.5rem 0;
    }
}